services:
  zookeeper:
    image: "confluentinc/cp-zookeeper:latest"
    ports:
      - "32181:32181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
    restart: always
    networks:
      - "dd-net"

  kafka:
    image: "confluentinc/cp-kafka:7.3.0"
    ports:
      - "39092:39092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:32181"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:39093,PLAINTEXT_HOST://localhost:39092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_BROKER_ID: 1
    restart: always
    depends_on:
      - "zookeeper"
    networks:
      - "dd-net"

  ksql:
    image: "confluentinc/ksqldb-server:latest"
    ports:
      - "8088:8088"
      - "8089:8089"
    environment:
      KSQL_BOOTSTRAP_SERVERS: "kafka:39093"
      KSQL_LISTENERS: "http://0.0.0.0:8088/,https://0.0.0.0:8089/"
      KSQL_OPTS: "-Dksql.service.id=ksql_service_3_  -Dlisteners=http://0.0.0.0:8088/"
    restart: always
    depends_on:
      - "kafka"
    networks:
      - "dd-net"

  kafka2:
    image: "confluentinc/cp-kafka:7.3.0"
    ports:
      - "49092:49092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:32181"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka2:39093,PLAINTEXT_HOST://localhost:49092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_BROKER_ID: 2
    restart: always
    depends_on:
      - "zookeeper"
    networks:
      - "dd-net"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command:
      - /usr/local/etc/redis/redis.conf
    networks:
      - "dd-net"

  location-read-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LocationReadService/Dockerfile
    image: eventsourcing-location-read-service
    ports:
      - "6001:6001"
    restart: always
    depends_on:
      - "zookeeper"
      - "kafka"
      - "kafka2"
    networks:
      - "dd-net"

  location-write-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LocationWriteService/Dockerfile
    image: eventsourcing-location-write-service
    ports:
      - "6000:6000"
    restart: always
    depends_on:
      - "zookeeper"
      - "kafka"
      - "kafka2"
    networks:
      - "dd-net"

  vehicle-read-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.VehicleReadService/Dockerfile
    image: eventsourcing-vehicle-read-service
    ports:
      - "5001:5001"
    restart: always
    depends_on:
      - "zookeeper"
      - "kafka"
      - "kafka2"
    networks:
      - "dd-net"

  vehicle-write-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.VehicleWriteService/Dockerfile
    image: eventsourcing-vehicle-write-service
    ports:
      - "5000:5000"
    restart: always
    depends_on:
      - "zookeeper"
      - "kafka"
      - "kafka2"
    networks:
      - "dd-net"

  lock-read-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LockReadService/Dockerfile
    image: eventsourcing-lock-read-service
    ports:
      - "7001:7001"
    restart: always
    depends_on:
      - "zookeeper"
      - "kafka"
      - "kafka2"
      - "redis"
    networks:
      - "dd-net"

  lock-write-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LockWriteService/Dockerfile
    image: eventsourcing-lock-write-service
    ports:
      - "7000:7000"
    restart: always
    depends_on:
      - "zookeeper"
      - "kafka"
      - "kafka2"
      - "redis"
    networks:
      - "dd-net"

  graphql:
    build:
      context: .
      dockerfile: EventSourcing.GraphqlGateway/Dockerfile
    image: eventsourcing-graphql
    ports:
      - "8001:8001"
    restart: always
    depends_on:
      - "location-read-service"
      - "location-write-service"
      - "vehicle-read-service"
      - "vehicle-write-service"
      - "lock-read-service"
      - "lock-write-service"
    networks:
      - "dd-net"

networks:
  dd-net:
