services:
  kafka:
    image: "apache/kafka:3.7.0"
    ports:
      - "39092:39092"
      - "39093:39093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: "PLAINTEXT://:39093,CONTROLLER://:9093,EXTERNAL://:39092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:39093,EXTERNAL://localhost:39092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_HEAP_OPTS: "-Xmx512m -Xms256m"
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
    restart: always
    networks:
      - "dd-net"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command:
      - /usr/local/etc/redis/redis.conf
    networks:
      - "dd-net"

  location-read-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LocationReadService/Dockerfile
    image: eventsourcing-location-read-service
    ports:
      - "6001:6001"
    restart: always
    depends_on:
      - "kafka"
    networks:
      - "dd-net"

  location-write-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LocationWriteService/Dockerfile
    image: eventsourcing-location-write-service
    ports:
      - "6000:6000"
    restart: always
    depends_on:
      - "kafka"
    networks:
      - "dd-net"

  vehicle-read-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.VehicleReadService/Dockerfile
    image: eventsourcing-vehicle-read-service
    ports:
      - "5001:5001"
    restart: always
    depends_on:
      - "kafka"
    networks:
      - "dd-net"

  vehicle-write-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.VehicleWriteService/Dockerfile
    image: eventsourcing-vehicle-write-service
    ports:
      - "5000:5000"
    restart: always
    depends_on:
      - "kafka"
    networks:
      - "dd-net"

  lock-read-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LockReadService/Dockerfile
    image: eventsourcing-lock-read-service
    ports:
      - "7001:7001"
    restart: always
    depends_on:
      - "kafka"
      - "redis"
    networks:
      - "dd-net"

  lock-write-service:
    build:
      context: .
      dockerfile: Microservices/EventSourcing.LockWriteService/Dockerfile
    image: eventsourcing-lock-write-service
    ports:
      - "7000:7000"
    restart: always
    depends_on:
      - "kafka"
      - "redis"
    networks:
      - "dd-net"

  graphql:
    build:
      context: .
      dockerfile: EventSourcing.GraphqlGateway/Dockerfile
    image: eventsourcing-graphql
    ports:
      - "8001:8001"
    restart: always
    depends_on:
      - "location-read-service"
      - "location-write-service"
      - "vehicle-read-service"
      - "vehicle-write-service"
      - "lock-read-service"
      - "lock-write-service"
    networks:
      - "dd-net"

networks:
  dd-net:
